@media only screen and (max-width: 480px) {
    .hide {
        display: none;
    }
}
@media only screen and (min-width: 481px) {
    .show {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .outsidebox {
        width: 280px;
        text-align: center;
        margin-top: 10px;
        padding: 10px;
        border: solid 1px;
    }
    .box2 {
        text-align: left;
        margin: 10px;
    }       
}
@media only screen and (min-width: 769px) {
    .outsidebox {
        text-align: center;
        margin-top: 10px;
        padding: 30px;
        width: 500px;
        border: solid 1px;
    }
    .box2 {
        text-align: left;
        margin: 30px;
    }
}

.tit1{
    font-family: DFkai-sb, sans-serif;
    font-size: 1.8rem;
    /*color: darkblue;*/
}
.img-mid{
    width: 80%; 
    margin: 0 auto;
    border-radius: 10%;
}
.MsoNormal{
    font-family: DFkai-sb, sans-serif;
    font-size: 1.2rem;
    /*color: darkblue;*/
    /*float: left;*/
    white-space: pre-wrap;
}
.MsoNormal2{
    font-family: DFkai-sb, sans-serif;
    font-size: 16px;
    /*color: darkblue;*/
    /*float: left;*/
    white-space: pre-wrap;
}
.box {
    text-align: left;
    margin: 10px;
}
.link-top {
    display: inline-block;
    width: 100%;
    height: 1px;
    border-top: solid #6a6e72a9 2px;
}
